<!DOCTYPE html>
<html>
<head>
  <title>HappyPuppy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="parallax">
		<div class="home-nav parallax-layer parallax-layer--base">
			<%= render partial: "layouts/navbar" %>
		</div> <!-- close home_nav -->

			 <%= yield %>

		<div class="home-footer parallax-layer parallax-layer--deep">
			<%= render partial: "layouts/footer" %>
		</div>

	</div>
</body>
</html>
